<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4" style="PADDING-TOP: 50px">
            <img src="images/logohub.svg" alt="" height="95" width="210" align="center">
        </div>
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-body">
                    <form role="form" method="post">
                        <fieldset>
                            <div class="form-group">
                                <h5>Username</h5>
                                <input class="form-control" name="username" type="text" autofocus ng-model="username">
                            </div>
                            <div class="form-group">
                                <h5>Password</h5>
                                <input class="form-control" name="password" type="password" value="" ng-model="password">
                            </div>
                            <input type="submit" href="index.html" value="Entrar" ng-click="login()"
                                   class="btn btn-lg btn-success btn-block"/>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
