<!--<h1>Gifs</h1>

<div ng-if="gifs" class="row marketing gifs">
</div>

<div ng-if="!gifs" class="row marketing empty">
  <div class="alert alert-danger" role="alert">
    No results found! :(
  </div>
</div>
<div class="row marketing">
  <div class="form-group col-md-12" style="display:inline;">
    <div class="input-group">
      <input class="form-control" placeholder="What are searching for?"
             type="text" ng-model="search" ng-change="change()">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-search"></span>
      </span>
    </div>
  </div>

  <div class="form-group col-md-12" style="display:inline;">
    <div class="input-group col-md-12">
      <select class="form-control" name="limit"
              ng-model="limit" ng-change="change()">
        <option value="" ng-if="!limit">Select number of results</option>
        <option value="6">6</option>
        <option value="12">12</option>
        <option value="18">18</option>
      </select>
    </div>
  </div>
  <div class="form-group col-md-12" style="display:inline;">
    <div class="input-group col-md-12">
      <select class="form-control" name="method"
              ng-model="method" ng-change="change()">
        <option value="" ng-if="!method">Select API method</option>
        <option value="search">Search</option>
        <option value="trending">Trending</option>
      </select>
    </div>
  </div>
</div>
<div ng-if="gifs" class="row marketing gifs">
  <div ng-repeat="gif in gifs" class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="" alt="" />
      <div class="caption">
        <p> <strong>ID: {{gif.id}} </strong> </p>
        <p> <strong>Source:{{gif.source}} </strong> </p>
        <img ng-src="{{gif.images.fixed_height.webp}}" />
      </div>
    </div>
  </div>
</div> -->

    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">MiniHub</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="github username" 
                        ng-model="user">
                    </div>
                    <button type="submit" class="btn btn-success" ng-click="change()">Buscar</button>
                </form>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    </br>
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3" ng-model="gifs" ng-if="gifs">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <img ng-src="{{gifs.avatar_url}}" alt="" WIDTH="90px" HEIGHT="90px" >
                    </div>
                </div>
                <h3>{{ gifs.login }}</h3>
                <p><h6>{{gifs.company}}<span class="glyphicon glyphicon-briefcase"></span></h6></p>
                <p><h6>{{gifs.company}}<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
            </h6></p>
                <p><h6>Joined {{gifs.created_at}}<span class="glyphicon glyphicon-time" aria-hidden="true"></span></h6></p>
            </div>

            <div class="col-md-8" ng-if="repositorios">
                <p class="lead">Repositorios</p>
                <div class="row" ng-repeat="repo in repositorios">
                    <div class="row">
                        <div class="col-md-8"><p class="text-primary"><b>{{repo.name}}</b></p></div>
                        <div class="col-md-3">{{repo.language}}</div>
                        <div class="col-md-1">1</div>
                    </div>
                    <div class="row">
                        <div class="col-md-11">{{repo.description}}</div>
                        <div class="col-md-1">2</div>
                    </div>
                    <div class="row">
                        <div class="col-md-11"></div>
                        <div class="col-md-1">3</div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>